<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Student Name</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/views/Home.html">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/views/about.html">About</a></li>
					<li class="nav-item active"><a class="nav-link" href="/views/htmlDemo.html">Html Demo</a></li>
					<li class="nav-item"><a class="nav-link" href="/views/addStudent.html">Add Student</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">
					<section>
						<h1>HTML Demo</h1>
						<h2>Tables</h2>
						<table border="1">
							<caption>Student Information</caption>
							<thead>
								<tr>
									<th>Student ID</th>
									<th>Name</th>
									<th>Course</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>146739222</td>
									<td>Nischal Maharjan</td>
									<td>WEB700</td>
								</tr>
								<tr>
									<td>5464748474</td>
									<td>Raj Poudel</td>
									<td>WEB700</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="3">Total Students: 2</td>
								</tr>
							</tfoot>
						</table>
						<table border="1">
							<caption>Course Details</caption>
							<thead>
								<tr>
									<th>Course Code</th>
									<th>Course Name</th>
									<th>Instructor</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>WEB700</td>
									<td>Web Programming</td>
									<td>Prof. Priteshkumar Patel</td>
								</tr>
								<tr>
									<td>OSL740</td>
									<td>Administration of Open Source Systems</td>
									<td>Prof. Ataur Rahman</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="3">Total Courses: 2</td>
								</tr>
							</tfoot>
						</table>
						<p>This section includes HTML tables that display student and course information.</p>
					</section>
					<section>
						<h2>List</h2>
						<h3>Essentials for a Memorable Vacation:</h3>
						<ul>
							<li>Passport and travel documents</li>
							<li>Travel itinerary and reservations</li>
							<li>
								Packing essentials
								<ul>
									<li>Clothing appropriate for the destination's climate</li>
									<li>Toiletries and personal care items</li>
									<li>Travel-sized first aid kit</li>
									<li>Portable charger and adapter</li>
								</ul>
							</li>
							<li>Travel guidebook or maps</li>
							<li>Local currency and payment methods</li>
						</ul>
						<p>Planning ahead ensures a smooth and enjoyable travel experience!</p>
					</section>                
					<section>
						<h2>Images</h2>
						<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Snowboarder">
						<img src="https://www.istockphoto.com/photo/canadian-pacific-train-on-railroad-gm459595899-32036216" alt="Mountain">
						<img src="https://static.independent.co.uk/2023/06/24/09/GettyImages-1423929370.jpg?quality=75&width=990&crop=3%3A2%2Csmart&auto=webp" alt="Rugby">
						<p>This section contains HTML images.</p>
					</section>
					<section>
						<h2>Audio</h2>
						<audio controls>
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mpeg">
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="audio/ogg">
							Your browser does not support the audio element.
						</audio>
						<p>It contains HTML audios.</p>
					</section>
					<section>
						<h2>Video</h2>
						<video controls>
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" type="video/ogg">
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm" type="video/webm">
							Your browser does not support the video element.
						</video>
						<p>In this section, there are some HTML video.</p>
					</section>
				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>