/* Navigation Bar */
.bg-light {
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-light .navbar-brand {
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .nav-link {
    font-family: 'Roboto', sans-serif;
    color: #333;
  }
  
  .nav-link:hover {
    color: #f00;
  }
  
  /* App Background */
  body, html {
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
    background-color: #e9ecef;
    background-image: url("your-image-url.jpg");
    background-size: cover;
  }
  
  .btn-primary {
    background-color: #007bff;
    background-image: linear-gradient(to bottom, #007bff, #0056b3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  /* Table cells inside "odd" numbered table rows */
  table tr:nth-child(odd) td {
    background-color: #f8f9fa;
    background-image: linear-gradient(to bottom, #f8f9fa, #e9ecef);
  }
  
  /* All "Heading" elements */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  /* All "Anchor" elements (HTML Links) */
  a {
    color: #333;
  }
  
  a:hover {
    color: #f00;
  }
  
  /* Fieldset "Legends" (used in Add Student Form) */
  legend {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }